{% load static %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Design</title>
    <link rel="stylesheet" href="{% static 'test3.css' %}">
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
</head>



<body>
    {% if test|default:"none" != "none" %}
    <style>
        body{
            /* background-image: url(static/image3.1.jpg); */
            background-color: black;
        }
        h1{
            color: red;
        }
    </style>

        <h1>dear patient you have to pay amount of {{test}} rupees..</h1>
        <div id="paypal-button-container" class="button"> </div>
    {% else %}
    <style>
        body{
            background-image: url(static/image3.1.jpg);
        }
        h1{
            color: white;
        }
    </style>
    <div class="main">

        <div class="navbar">
            <div class="icon">
                <h2 class="logo">for patient...</h2>
            </div>

            


            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>

                    {% if user.is_authenticated %}
                    <!-- <li style="color: red;">First item</li> -->
                    <li style="color: white">hello, {{user.username}} </li>
                    <li><a href="{% url 'logout' %}">logout</a></li>
                    <li><a href="{% url 'form' %}">Book a appointment </a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}">Register</a></li>
                    <li><a href="{% url 'signin' %}">Log in</a></li>
                    {% endif %}
                    <!-- <li><a href="#">SERVICE</a></li> -->
                    <li><a href="#">CONTACT</a></li>
                </ul>
            </div>

            <!-- <div class="search">
                <input class="srch" type="search" name="" placeholder="Type To text">
                <a href="#"> <button class="btn">Search</button></a>
            </div> -->
            
        </div> 
        <div class="content">
            <h1>Doctor Appointment & <br><span>Console</span> <br></h1>
            <p class="par">Get appointment from your Doctor and get your medicine at a Time.
                <br> Don't Forget to Give Your Feedback. 
                <br></p>
                
                <button class="cn"><a href="#">JOIN US</a></button>
                
                
                <div class="icons">
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
                </div>
                
                
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script> -->
{% endif %}
<script>
    paypal.Button.render({

        env: 'sandbox', // sandbox | production

        // PayPal Client IDs - replace with your own
        // Create a PayPal app: https://developer.paypal.com/developer/applications/create
        client: {
            sandbox:    'AZDxjDScFpQtjWTOUtWKbyN_bDt4OgqaF4eYXlewfBP4-8aqX3PiV8e1GWU6liB2CUXlkA59kJXE7M6R',
            production: '<insert production client id>'
        },

        // Show the buyer a 'Pay Now' button in the checkout flow
        commit: true,

        // payment() is called when the button is clicked
        payment: function(data, actions) {

            // Make a call to the REST api to create the payment
            return actions.payment.create({
                payment: {
                    transactions: [
                        {
                            amount: { total: '40', currency: 'USD' }
                        }
                    ]
                }
            });
        },

        // onAuthorize() is called when the buyer approves the payment
        onAuthorize: function(data, actions) {

            // Make a call to the REST api to execute the payment
            return actions.payment.execute().then(function() {
                window.alert('Payment Complete!');
            });
        }

    }, '#paypal-button-container');

</script>
</body>


</html>